body{
    
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    height: 10vh;
    width: 100%;
    display: flex;

    .topLeft{
        background-color: #A5DDE4;
        height: 10vh; 
        width: 20%;
    }
    .topRight {
        background-color: #78C3CC ;
        height: 10vh; 
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2em;
    
       .bottonBlanco{
           background-color: #ffffff;
           height: 2.5vh; 
           width: 15%;
        }
    
        .bottonBlanco{
            background-color: #ffffff;
            height: 2.5vh; 
            width: 15%;
         }
    
        .bottonRojo{
            background-color: #F47E5F;
            height: 2.5vh; 
            width: 7%;
            margin-right: 2em;
        }
    }
}


.mid{
    background-color: #ffffff;
    height: 60vh; 
    width: 100%;
    display: flex;

    .midLeft{
        height: 60vh;
        width: 20%;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .cosas{
            display: flex;
            flex-direction: column; 
            align-items: center;
            gap: 1em;

            .cuadradiño{
                height: 35vh;
                aspect-ratio: 1/1;
                background-color: #D8D8D8;
                display: flex;
                align-items: center;
                justify-content: center;
                
    
                .miniCuadradiño{
                    height: 18vh;
                    aspect-ratio: 1/1;
                    background-color: #B3B3B3;
                }
            }
            .linea{
                height: 1vh;
                width: 25vh;
                background-color: #B3B3B3;
            }
            
            .boton{
                height: 4.5vh;
                width: 18vh;
                background-color: #56595F;
                display: flex;
                align-items: center;
                justify-content: center;
    
                .linita{
                    height: 1vh;
                    width: 10vh;
                    background-color: #B3B3B3;
                }
            }
        }
    }

    .midRight{
        height: 60vh;
        width: 80% ;
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15vh;
        

        .trinaguloL{
            border-top: 4vh solid transparent;
            border-bottom: 4vh solid transparent;
            border-right: 3.5vh solid  #B3B3B3;
            border-left: none;
        }
        .texto{
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
            gap: 1.5vh;

            .title{
                height: 3vh;
                width: 40vh;
                background-color: #56595F
            }
            .txts{
                display: flex;
                flex-direction: column; 
                align-items: center;
                gap: 2vh;
                .txt{
                    height: 1vh;
                    width: 90vh;
                    background-color: #B3B3B3;
                }
                .minitxt{
                    height: 1vh;
                    width: 40vh;
                    background-color: #B3B3B3;
                }
            }
        }
        .trinaguloR{
            border-top: 4vh solid transparent;
            border-bottom: 4vh solid transparent;
            border-left: 3.5vh solid  #B3B3B3;
            border-right: none;
            margin-right: 10vh;
        }
    }
}

.bottom{
    height: 70vh;
    width: 100%;
  
   
    .conteiner{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 31vh);
        gap: 5vh; 
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;

        .c1{
            background-color: #56595F;
        }
        .c2{
            background-color: #78C3CC;
        }
        .c3{
            grid-column: 3/5;
            grid-row: 1/3;
            background: #A4DBE1;
            
        }
        .c4{
            background-color: #FFD985;
        }
        .c5{
            background-color:#D8D8D8;
        }
    }
}
