body{
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    height: 100vh;
    width: 100%;
    display: flex;
    
    .topLeft{
        background-color: #C7F5FA;
        height: 10vh; 
        width: 20%;
    }
    .topRight {
        background-color: #6cc8cf ;
        height: 10vh; 
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2em;
    
       .bottonBlanco{
           background-color: #ffffff;
           height: 2.5vh; 
           width: 15%;
        }
    
        .bottonBlanco{
            background-color: #ffffff;
            height: 2.5vh; 
            width: 15%;
         }
    
        .bottonRojo{
            background-color: #b30202;
            height: 2.5vh; 
            width: 7%;
            margin-right: 2em;
        }
    }
}

/*
.mid{
    background-color: rgb(6, 58, 6);
    height: 25vh; 
    width: 100%;
    margin: 10px;
}
*/