body{
    height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    height: 10vh;
    width: 100%;
    display: flex;

    .topLeft{
        background-color: #C7F5FA;
        height: 10vh; 
        width: 20%;
    }
    .topRight {
        background-color: #6cc8cf ;
        height: 10vh; 
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2em;
    
       .bottonBlanco{
           background-color: #ffffff;
           height: 2.5vh; 
           width: 15%;
        }
    
        .bottonBlanco{
            background-color: #ffffff;
            height: 2.5vh; 
            width: 15%;
         }
    
        .bottonRojo{
            background-color: #b30202;
            height: 2.5vh; 
            width: 7%;
            margin-right: 2em;
        }
    }
}


.mid{
    background-color: rgb(6, 58, 6);
    height: 60vh; 
    width: 100%;
    display: flex;

    .midLeft{
        height: 60vh;
        width: 20%;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-end; */
        align-items: center;
        gap: 1em;

        .cuadradiño{
            height: 35vh;
            aspect-ratio: 1/1;
            background-color: #D8D8D8;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15%;

            .miniCuadradiño{
                height: 18vh;
                aspect-ratio: 1/1;
                background-color: #B3B3B3;
            }
        }
        .linea{
            height: 1vh;
            width: 25vh;
            background-color: #B3B3B3;
        }
        .linea{
            height: 1vh;
            width: 25vh;
            background-color: #B3B3B3;
        }
        .linea{
            height: 1vh;
            width: 25vh;
            background-color: #B3B3B3;
        }
        .boton{
            height: 4.5vh;
            width: 18vh;
            background-color: #56595F;
            display: flex;
            align-items: center;
            justify-content: center;

            .linita{
                height: 1vh;
                width: 10vh;
                background-color: #B3B3B3;
            }
        }
    }
}
